{{#if userName}} <h1> Welcome back, {{ userName }}!</h1>
{{else}}<h1>信箱或密碼錯誤！</h1>
{{/if}}

{{!-- 

handlebars if/else 語法格式

{{#if user.profile.male}}
  <p>Dear Sir</p>
{{else if user.profile.female}}
  <p>Dear Madame</p>
{{else}}
  <p>Dear Customer</p>
{{/if}}

--}}